.about_card {
  background-color: #444;
  border: 1px solid #555;
  border-radius: 8px;
  padding: 20px;
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about_card h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.about_card p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
}
